@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
.message {
    width: 1000px;
    color: cornflowerblue;
    text-shadow: 4px 4px #EB31C1;
    text-align: center;
    font-family: 'Dela Gothic One', cursive;
    font-size: 50px;
}